# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.


:80 {

    root * /usr/share/caddy
    try_files {path}.html {path} 
    uri /type/* replace :: /
    
    # Enable the static file server.
    file_server
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
